In [2]:
import pandas as pd

Load the dataset

In [3]:
df_moon = pd.read_csv('datasets/full_moons.csv')

In [4]:
df_moon.head(5)

         Day              Date        Time Flag
0     Monday   15 January 1900  8:07:30 pm  NaN
1  Wednesday  14 February 1900  2:50:12 pm  NaN
2     Friday     16 March 1900  9:11:48 am  NaN
3     Sunday     15 April 1900  2:02:06 am  NaN
4     Monday       14 May 1900  4:36:36 pm  NaN

Add a new column with the datetime

In [5]:
df_moon["Datetime"] = pd.to_datetime(df_moon["Date"] + " " + df_moon["Time"],
                                     format='%d %B %Y %I:%M:%S %p')
df_moon.drop(columns=["Date", "Time", "Day", "Flag"], inplace=True)

In [6]:
df_moon.head(5)

             Datetime
0 1900-01-15 20:07:30
1 1900-02-14 14:50:12
2 1900-03-16 09:11:48
3 1900-04-15 02:02:06
4 1900-05-14 16:36:36

Save the formatted dataset as csv file

In [7]:
df_moon.to_csv('datasets/full_moons_formatted.csv', index=False)