In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('datasets/resource_dataset.csv')

In [10]:
df['Hurricane'] = df['Hurricane'].str.upper()
df

,Hurricane,Year,Shelters Opened,Meals Distributed (millions),Water Distributed (million gallons),Fuel Provided (million gallons)
0,CHARLEY,2004,250,2.00,0.30,0.10
1,FRANCES,2004,250,3.50,1.50,0.20
2,IVAN,2004,120,2.00,0.70,0.20
3,JEANNE,2004,200,4.00,1.50,0.20
4,DENNIS,2005,70,1.00,0.50,0.10
5,KATRINA (FL),2005,5,0.10,0.05,0.00
6,WILMA,2005,100,8.00,3.00,0.10
7,HERMINE,2016,20,0.05,0.01,0.00
8,MATTHEW,2016,100,0.50,0.20,0.05
9,IRMA,2017,585,15.00,6.00,1.00
10,MICHAEL,2018,54,1.50,1.00,0.50
11,SALLY,2020,10,0.20,0.10,0.05
12,IAN,2022,260,19.00,6.70,1.40
13,IDALIA,2023,30,0.50,0.30,0.10

Adding (avg/max) maximum_sustained_wind_knots,